<section class="section-2">

    <div class="section-2-img">
        <img src="/img/img2.svg" alt="">
    </div>

    <div class="section-2-text">
        <h5>Our introduction</h5>
        <h1>Welcome to Adventure & Tours</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quos! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Maxime, debitis.</p>

        <ul class="introduction-features">
            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Diverse destination</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Value for money</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Fast Booking</li>
            <li><i class="fa fa-check-circle" aria-hidden="true"></i>Beautiful places</li>
        </ul>
        <a href='/about'><button>Read More</button></a>
    </div>

</section>