
    <div class="section-4">
        <h1>Testimonials</h1>
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">

                    <li class="splide__slide">
                        <div class="slide-box">
                            <div class="slide-p-1">
                                <h1>,,</h1>
                                <h2>Best travel ever</h2>
                            </div>
                            <p class="slide-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eos omnis, vero
                                perferendis hic atque, minima nobis dolore nesciunt animi deserunt asperiores, error
                                ullam! Amet illo accusamus nihil obcaecati repudiandae, eos eligendi asperiores ab at
                                quibusdam consectetur corrupti cupiditate repellendus.
                            </p>
                            <div class="slide-user">
                                <img src="/img/faces/f2.jpg" alt="">
                                <div>
                                    <h4>Aarav Lynn</h4>
                                    <p>San Francisco, USA</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="slide-box">
                            <div class="slide-p-1">
                                <h1>,,</h1>
                                <h2>Awesome travel</h2>
                            </div>
                            <p class="slide-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eos omnis, vero
                                perferendis hic atque, minima nobis dolore nesciunt animi deserunt asperiores, error
                                ullam! Amet illo accusamus nihil obcaecati repudiandae, eos eligendi asperiores ab at
                                quibusdam consectetur corrupti cupiditate repellendus.
                            </p>
                            <div class="slide-user">
                                <img src="/img/faces/f3.jpg" alt="">
                                <div>
                                    <h4>Miyah Miles</h4>
                                    <p>
                                        London, UK
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="splide__slide">
                        <div class="slide-box">
                            <div class="slide-p-1">
                                <h1>,,</h1>
                                <h2>Comfort travel</h2>
                            </div>
                            <p class="slide-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eos omnis, vero
                                perferendis hic atque, minima nobis dolore nesciunt animi deserunt asperiores, error
                                ullam! Amet illo accusamus nihil obcaecati repudiandae, eos eligendi asperiores ab at
                                quibusdam consectetur corrupti cupiditate repellendus.
                            </p>
                            <div class="slide-user">
                                <img src="/img/faces/f1.jpg" alt="">
                                <div>
                                    <h4>Francisco Gomes</h4>
                                    <p> Lisbon, Portugal </p>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>