<section class="section-1">

    <div class="section-1-text">
        <h1>it is time to travel</h1>
        <p>Do not follow where the path may lead. Go instead where there is no path and leave a trai</p>
        <a href="/bookings/holidays">
            <button>
                View tours
            </button>
        </a>

    </div>

    <div class="section-1-img">
        <img src="/img/img1.svg" alt="">
    </div>
</section>