<div class="section-3">

    <div class="section-3-heading">
        <h5>Take your tour to</h5>
        <h1>Most Popular Destination</h1>
    </div>

    <div class="section-3-box-container">

        <div class="section-3-box">
            <img src="/img/places/ladakh.jpg" alt="">
            <div class="section-3-box-text">
                <h6>Popular</h6>
                <h2>Ladakh</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, iusto.</p>
                <a href="/bookings/holidays"><button class="round-border-red">Explore Now</button></a>
            </div>
        </div>

        <div class="section-3-box">
            <img src="/img/places/goa.jpg" alt="">
            <div class="section-3-box-text">
                <h6>Popular</h6>
                <h2>Goa</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, iusto.</p>
                <a href="/bookings/holidays"><button class="round-border-red">Explore Now</button></a>
            </div>
        </div>

        <div class="section-3-box">
            <img src="/img/places/kashmir.jpg" alt="">
            <div class="section-3-box-text">
                <h6>Popular</h6>
                <h2>Kashmir</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, iusto.</p>
                <a href="/bookings/holidays"><button class="round-border-red">Explore Now</button></a>
            </div>
        </div>

    </div>

</div>