<footer>
    <div>

        <ul class="footer_link">
            <li>
                <h3>Quick links</h3>
            </li>
            <a href="">
                <li>Home</li>
            </a>
            <a href="">
                <li>Bookings</li>
            </a>
            <a href="">
                <li>About</li>
            </a>
            <a href="">
                <li>Contact</li>
            </a>
        </ul>

        <ul class="footer_address">
            <li>
                <h3>Contact info</h3>
            </li>
            <li>
                <p>Address : Mr John Smith
                    132, My Street,
                    Bigtown BG23 4YZ
                    England</p>
            </li>
            <li>Phone no. : +91923832783</li>
            <li>Email : roytours@gmail.com</li>
        </ul>

        <ul class="footer_social_link">
            <li>
                <h3>Keep in touch</h3>
            <li>

            <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
            <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
            <li><i class="fa fa-whatsapp" aria-hidden="true"></i> </li>

        </ul>

    </div>

    <p class="copyright">@Copyright2022 royTours. All rights reserved</p>

</footer>


<script src="/slide/dist/js/splide.min.js"></script>
<script>
        new Splide('.splide').mount();

</script>
<script type="module" src="/js/script.js"></script>


</body>

</html>