<%- include('partials/header'); -%>
    <div class="about_container">


        <div class="about-1">
            <div class="questions">
                <h4>Q - How do I make a flight booking on royTours?</h4>
                <p>A: You can book a flight onroyTours in five easy steps: Head over to theroyTours flight booking
                    page, Enter your departure and arrival destinations, Select your air travel dates, Choose from our
                    wide range of flights based on your airfare preferences, Click on ‘Book Now’ and your air flight
                    booking is done. Alternatively, you can also use theroyTours app for your flight ticket booking.
                    Download theroyTours app, Put in the details i.e. date of journey, departure and arrival
                    destinations, travel class of your choice, Select on your best comfortable option and click on 'Book
                    Now'.
                </p>
            </div>

            <div class="questions">
                <h4>Q - Can I avail domestic flight offers on royTours?</h4>
                <p>A: Of course, you can. While making domestic flight bookings, you can avail any special offer that is
                    active at that time. In accordance with the offer selected, a listing of eligible flights would show
                    up on your screen. You can then apply the price filter and click on the downwards arrow, following
                    which budget-friendly flights would start showing up in ascending order from the top (lowest price
                    on top).
                </p>
            </div>
        </div>
        <hr>
        <div class="about-1">
            <div class="questions">
                <h4>Q - How can I avail budget air tickets on royTours?</h4>
                <p>A: It’s super-easy to avail budget airfare while booking your flight tickets onroyTours. Just
                    select the ‘Price’ filter once the available flight options are displayed and adjust according to
                    your convenience. On theroyTours app, you can select the downward arrow, which will show the
                    lowest airfare at the top and continue downward in ascending order.
                </p>
            </div>

            <div class="questions">
                <h4>Q - Why could I not avail the flight booking offers at the time of checkout? </h4>
                <p>A:royTours makes use of a world-class real-time reservation database to list airfare and
                    availability. As dynamic changes in airfare take place, or the available flight tickets sell out,
                    the database reflects the changes in real-time. Hence, we suggest, you double-check online flight
                    booking prices when purchasing flight tickets, as the airfare might have been dynamically updated
                    since you first selected the air travel dates or planned your itinerary.
                </p>
            </div>
        </div>

        <div class="about-2">
            <h5>
                PRODUCT OFFERING
            </h5>

            <p>
                Flights, International Flights, Charter Flights, Hotels, International Hotels, Homestays and Villas,
                Activities, Holidays In India, International Holidays, Book Hotels From UAE, myBiz for SME Travel, Book
                Online Cabs, Book Bus Tickets, Book Train Tickets, Vande Bharat Mission Flights, Air Bubble Flights,
                Cheap
                Tickets to India, Book Flights From US, Book Flights From UAE, Trip Planner, Gift Cards, Trip Money,
                Trip
                Ideas, Travel Blog, PNR Status
            </p>

            <h5>
               royTours
            </h5>

            <p>
                About Us, Investor Relations, Careers, Corporate Travel, MMT Foundation, CSR Policy, myPartner - Travel
                Agent Portal, Foreign Exchange, List your hotel, Partners- Redbus, Partners- Goibibo
            </p>

            <h5>
                ABOUT THE SITE
            </h5>

            <p>
                Contact Us, Payment Security, Privacy Policy, User Agreement, Terms of Service, More Offices, Make A
                Payment, Work From Home
            </p>

            <h5>
                QUICK LINKS
            </h5>

            <p>

                Flights Discount Coupons, Domestic Airlines, Indigo Airlines, Air Asia, SpiceJet, GoAir, Air India, Air
                India Express, Vistara, New Delhi Mumbai Flights, Pune Delhi Flights, Delhi Chennai Flights, Delhi
                Guwahati
                Flights, Mumbai Varanasi Flights, Guwahati Delhi Flights, Goa Delhi Flights, Delhi Goa Flights, Delhi
                Chennai Flights
            </p>

            <h5>
                IMPORTANT LINKS
            </h5>
            <p>

                Cheap Flights, Flight Status, Chennai Mumbai flights, Mumbai Hyderabad flights, Hyderabad Bangalore
                flights,
                Pune Bangalore flights, Mumbai Jaipur flights, Mumbai Chandigarh flights, Bangalore Kolkata flights,
                Hyderabad Visakhapatnam flights, Chandigarh Bangalore flights, Jaipur Mumbai flights, Mumbai Shirdi
                Flights,
                Delhi to Tirupati Flight, Indore to Mumbai Flight, Kolkata to Rupsi Flight, Rupsi to Guwahati Flight,
                Pasighat to Guwahati Flight, Delhi to Khajuraho flight, Cochin to Agatti Island Flight
            </p>
        </div>

       
    </div>
    <%- include('partials/footer'); -%>