<%- include('partials/header'); -%>

    <div class="contact_container">
        <div>
            <form action="/contact" method="post">
                <h5>Send a message</h5>
                <div>
                    <input type="text" placeholder="Full Name" name="fullName">
                    <input type="text" placeholder="Last Name" name="LastName">
                </div>
                <div>
                    <input type="text" placeholder="Phone" name="phone">
                    <input type="email" placeholder="Email" name="Email">
                </div>
                <div class="message">
                    <label for="message">How can we help?</label>
                    <textarea  id="message" cols="30" rows="5" name="message"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
            <div class="contact">
                <h5>Contact us</h5>
                <div class="con"><i class="fa fa-mobile" aria-hidden="true"></i>+91 9837649389</div>
                <div class="con"><i class="fa fa-envelope" aria-hidden="true"></i>royTours@gmail.com</div>

                <ul class="footer_social_link contact_link">

                    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                    <li><i class="fa fa-whatsapp" aria-hidden="true"></i> </li>

                </ul>
            </div>
        </div>

    </div>



    <%- include('partials/footer'); -%>