<div class="defination">
    <h3>Why book with royTours? </h3>
    <p class="br">7 Brilliant reasons royTours should be your one-stop-shop! </p>
    <h4>Book Flights, Hotels, Trains, Buses, Cruise and Holiday Packages </h4>
    <p class="def">On Yatra.com, you can tailor your trip from end-to-end by scouring suitable
        flights and making your flight booking before proceeding with your hotel bookings.
        Yatra’s vast hotel repository will see you through this process seamlessly. Any
        intervening journey can be conveniently planned by searching up relevant train
        connectivity and making an IRCTC ticket booking. Look up well-researched holiday
        packages, sift through cruise packages and finalise your entire trip on just one
        platform.</p>
    <h4>Look for flights and hotels </h4>
    <p class="def">Search for exclusive deals on flights and hotels. Find cheap air tickets to any destination you like. Choose from its vast repository of hotels - from budget, mid-range, five-star to niche boutique properties. Widen your choices with options like flexi stay, pay directly at hotel, and guaranteed standard amenities. Extremely efficient and easy.</p>
    <h4>Get a secure flight booking</h4>
    <p class="def">Enjoy cancellation protection on domestic flights. Benefit from fare drop protection, same day cancellation protection, hold now - pay later, on international flight bookings. Great filters, fantastic navigation.
    </p>

</div>