<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
<div class="modal">
    <a href="/" class="back">&larr;</a>
    <form action="/signin" class="form3" method="post">
        <h2>Create a account</h2>
        <input required type="email" class="email" placeholder="Email" name="Email">
        <input required type="text" class="username"placeholder='Username' name="Username">
        <input required type="text" class="password" placeholder="Password" name="Password">
        <button type="submit">Sign up</button>
        <p>Have an account? <a href="/login"> Log in</a></p>
    </form>
</div>

<!-- <script type="module" src="/js/script.js"></script> -->

</body>
</html>
