<div class="result">
    <div class="flight-header">
        <img class="flogo" src="/img/logo/f1.png" alt="">
        <div>
            <span><h5>Air India,AI-768</h5></span>
            <span class="small">[Economy]</span>
            <p>Airbus A321</p>
        </div>
    </div>
    <hr>
    <div class="flight-footer">
        <div class="fdetail">
            <p class="fl">Mumbai</p>
            <h3>8:00</h3>
            <h4>Thu 27 Jan 2022</h4>
            <p class="ap"></p>
        </div>

        <div class="frepresent">
            <p>
                <i class="fa fa-clock-o" aria-hidden="true"></i> 
                2hr 10m
            </p>
            <p>
                <span>&#x2708;</span>
            </p>
            <p class="stops">
                Non stop
            </p>
        </div>

        <div class="fdetail">
            <p class="fl">New Delhi</p>
            <h3>9:00</h3>
            <h4>Thu 27 Jan 2022</h4>
            <p class="ap"></p>
        </div>

        <div>
            <button>Book Now</button>
        </div>
    </div>
</div>